
.payment-container {
  display: flex;
  flex-direction:column;
  justify-content: center;
  
  
  align-items: center;
  height: 100vh; /* Full page height */
  background-color: #fdfdfd;
}

.payment-container h1 {
  color: green;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: sans-serif;
}

.payment-container button{
  margin-top:2vmax;
  padding:1vmax;
  border-radius:2rem;
  width:20%;
  cursor:pointer;
  
}

